.content {
  padding: 80px 0;
}
.content form {
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
.content .formIn {
  max-width: 320px;
}
.content .formUp {
  max-width: 400px;
}
.content .illustration {
  text-align: center;
  padding: 0 0 20px;
  font-size: 80px;
  font-weight: bold;
  color: #009387;
}
.content form .formControl {
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 8px;
  height: 42px;
}

.content form .btnPrimary {
  background: #009387;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none !important;
}
.content form .btnPrimary:hover,
.content form .btnPrimary:active {
  background: #009387;
}
.content form .error {
  display: block;
  text-align: center;
  font-size: 15px;
  color: red;
  padding-top: 6px;

  text-decoration: none;
}

.content form h2 {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 30px;
}
